@model IEnumerable<AuctionSale.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (!Model.Any())
{
    <p>We don't have anything in DB!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitsInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductNumber)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (!item.IsDeleted)
                {
                    var photoPath = "~/images/" + item.Picture;
                    var seconds = 120;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitsInStock)
                        </td>
                        <td>
                            <img class="card-img-top" src="@photoPath" asp-append-version="true" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNumber)
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="Bid(@item.Id)">Bid</button>
                            <textarea id="@item.Id" class="timer">@seconds</textarea>
                        </td>
                        <td><a class="btn btn-danger" href="/Item/DeleteItem/@item.Id">Delete</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
<script>
    function Bid(id) {
        document.getElementById(id).value = 120;
    }
    setInterval(function () {
        var x = document.getElementsByClassName("timer");
        for (var i = 0; i < x.length; i++) {
            x[i].value = x[i].value - 1;
        }
    }, 1000);
</script>

