@model IEnumerable<AuctionSale.Models.Item>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@if (!Model.Any())
{
    <p>We don't have anything in DB!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product name
                </th>
                @*<th>
                    Starting price
                </th>*@
                <th>
                    Picture
                </th>
                <th>
                    Product number
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var photoPath = "~/images/" + item.Picture;
                var dateDiff = item.EndTime - DateTime.Now;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        <img class="card-img-top" src="@photoPath" asp-append-version="true" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (item.EndTime > DateTime.Now)
                            {
                                <button class="btn btn-primary" onclick="Bid(@item.Id)">Bid</button>
                                <textarea id="@item.Id" class="timer" readonly>
                                    @((int)((dateDiff).TotalSeconds))
                                </textarea><br />

                                <span>Current price: </span>
                                <span id="currentPrice-@item.Id">@item.Price</span><br />

                                <input id="50dollars-@item.Id" type="radio" value="50" name="money" /><label>50 $</label><br />
                                <input id="100dollars-@item.Id" type="radio" value="100" name="money" /><label>100 $</label><br />
                            }
                            else
                            {
                                <h1>Soooooolllllddd!!!</h1>
                            }
                        }
                        else
                        {
                            @if (item.EndTime > DateTime.Now)
                            {
                                <textarea id="@item.Id" class="timer" readonly>
                                   @((int)((dateDiff).TotalSeconds))
                                </textarea><br />
                                <span>Current price: </span>
                                <span id="currentPrice-@item.Id">@item.Price</span><br />
                            }
                            else
                            {
                                <h1>Soooooolllllddd!!!</h1>
                            }

                        }
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a class="btn btn-danger" href="/Item/DeleteItem/@item.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Auction sale</h4>
            </div>
            <div class="modal-body">
                <p>Your bid was succesful.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    function Bid(id) {

        var currentPrice = document.getElementById("currentPrice-" + id).innerHTML;
        var dollars50 = document.getElementById("50dollars-" + id).value;
        var dollars100 = document.getElementById("100dollars-" + id).value;

        if (document.getElementById("50dollars-" + id).checked) {
            document.getElementById("currentPrice-" + id).innerHTML = (parseInt(currentPrice, 10) + parseInt(dollars50, 10)).toString();
            var newPrice = parseInt(currentPrice, 10) + parseInt(dollars50, 10);
            ajaxCallPost(id, newPrice);
        }

        if (document.getElementById("100dollars-" + id).checked) {
            document.getElementById("currentPrice-" + id).innerHTML = (parseInt(currentPrice, 10) + parseInt(dollars100, 10)).toString();
            var newPrice = parseInt(currentPrice, 10) + parseInt(dollars100, 10);
            ajaxCallPost(id, newPrice);
        }
    }
    function ajaxCallPost(id, newPrice) {
        $.ajax({
            type: "POST",
            url: "/Item/UserBid?id=" + id + "&newPrice=" + newPrice,
            data: { id: id, newPrice: newPrice },
            success: function (data) {
                $('#myModal').modal('show');
            }
        });
    }
    function DeclareWinner(id) {
        window.location.href='@Url.Action("DeclareWinner", "Item")/' + id;
    }
</script>


